---
layout: default
---
<div class="col-sm-12">
<img src="{{ site.url }}{{ site.baseurl }}/images/U-M_2color-HorizontalReversed.png" width="70%" style="margin-left:15%"/>
</div>


<div class="col-sm-7">
<h2><strong>Troy Wymore <br/>
Assistant Research Scientist <br/>
Department of Chemistry <br/>
<br/><br/>
Lecturer in Biophysics</strong></h2>
</div>

<div class="col-sm-5">
<img src="{{ site.url }}{{ site.baseurl }}/images/logo.jpg" width="100%"/>
</div>

<div class="col-sm-12 banner-text">
  From Molecular Phylogenetics to Quantum Chemistry
</div>

  <div id="homeid" class="col-sm-12">

	{{ content }}
  </div>
  <div id="newsid" class="col-sm-12" >
	{% include news.html %}
  </div>
